.editor {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.block {
  display: inline-block;
  border-width: 1px;
  border-color: 1px;
  border-style: solid;
}

.controls {
  display: flex;
  flex-direction: column;
}

.normal-controls {
  margin: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.puzzle-open {
  margin-top: 50px;
  margin-left: 10px;
  width: 100px;
}